<div class="container-fluid" id="mapholder">
  <img src="https://dabrownstein.files.wordpress.com/2013/08/1280px-openstreetmap_gps_trace_density.jpg">
</div>

<div class="container">
  <nav class="navbar navbar-inverse navbar-fixed-bottom text-center">
    <h3 id="demo">Click the button to get your position</h3>
    <button onclick="getLocation()"><span class="glyphicon glyphicon-globe" aria-hidden="true" ></span></button>
  </nav>
</div>


