<div class="container" id="mapholder">
  <img src="https://dabrownstein.files.wordpress.com/2013/08/1280px-openstreetmap_gps_trace_density.jpg" >
</div>

<div class="container-fluid">
  <nav class="navbar navbar-inverse navbar-fixed-bottom text-center">
    <h3 id="demo">Click button to get your position</h3>
    <button onclick="getLocation()"><span class="glyphicon glyphicon-globe" aria-hidden="true" ></span></button>
    <br><h6><a href="http://timscully.co.uk">Scully87</a></h6>
  </nav>
</div>
